@media screen and (min-width: 1170px) and (max-width: 1470px) {
    .sideCard {
        width: clamp(15.625rem, -20.575rem + 49.505vw, 25rem);
    }
}
/* 164 height of profile card box */
@media screen and (max-width: 1169px) {
    .suggestedCard {
        display: none;
    }

    #profile {
        padding-top: 80px;
    }

    .sideCard {
        position: relative;
        width: 500px;
        top: 0px;
        margin-left: auto;
        margin-right: auto;
        z-index: 0;
        border: 1px solid #174f8b;
    }
    
}